h1 {
  color: #173026 !important;;
}

/* Flipbook base */
#flipbook {
  width: 100%;
  max-width: 800px;
  height: auto;
  aspect-ratio: 4 / 3; /* Mantiene proporción aproximada */
  margin: 5px auto;
  box-shadow: 0 0 30px rgba(0,0,0,0.2);
}

.page {
  position: relative; /* necesario para posicionar el timbre */
}

.page img {
  width: 100%;
  height: auto;
  display: block;
  position: relative;
  z-index: 1;
}


.stamp {
  position: absolute;
  width: 80px;
  height: 80px;
  max-width: 80px;
  max-height: 80px;
  object-fit: contain;
  pointer-events: none;
  z-index: 10;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.2s ease;
}

.stamp.stamped {
  opacity: 1;
}

@media (max-width: 600px) {
  .stamp {
    width: 50px;
    height: 50px;
    max-width: 50px;
    max-height: 50px;
  }
}

